apiVersion: v1
kind: ReplicationController
metadata:
  name: <%= @name %>
  namespace: <%= @namespace %>
  labels:
    app: <%= @name %>
    version: v1.0
spec:
  replicas: 1
  selector:
    app: <%= @name %>
    version: v1.0
  template:
    metadata:
      labels:
        app: <%= @name %>
        version: v1.0
    spec:
      volumes:
        <%- @volumes.each do |volume| -%>
        - name: <%= volume.name %>
          hostPath:
            path: <%= volume.hostPath %>
        <%- end -%>
      nodeSelector:
        kubernetes.io/hostname: <%= @host %>
      containers:
        <%- @containers.each do |container| -%>
        - name: <%= container.name %>
          image: <%= container.image %>
          command: <%= container.command %>
          # resources:
          #   limits:
          #     cpu:
          #     memory:
          env:
            <%- container.variables.each do |variable| -%>
            - name: <%= variable.split('=').first %>
              value: <%= variable.split('=').last %>
            <%- end -%>
          imagePullPolicy: Always
          ports:
            <%- container.target_ports.each do |port| -%>
            - containerPort: <%= port.target_port %>
              protocol: <%= port.protocol %>
            <%- end -%>
          volumeMounts:
            <%- container.volumes.each do |volume| -%>
            - name: <%= volume.name %>
              mountPath: <%= volume.path %>
            <%- end -%>
        <%- end -%>
      #imagePullSecrets:
      #  - name: registry-cloudgear-agricircle
